body {
 font-family: 'Raleway', sans-serif;
 padding-top: 70px;
}

.navbar-inverse {
  background-color: #887788;
  border-color: #5a5858;
}

.navbar-inverse .navbar-toggle {
  background-color: #887788;
  border-color: #5a5858;
}

.navbar-inverse
.navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #9d9d9d;
  border-color: #5a5858;
}

.navbar-inverse .navbar-collapse  {
  border-color: #5a5858;
}

.fa-github-alt {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 10px;
  color: #3a3a3a;
}

.col-lg-4 {
  padding-bottom: 40px;
}

h2 a {
  font-size: 1.5rem;
  color: #3a3a3a;
}

#projects h2 a {
  display: flex;
  justify-content: center;
}

#projects img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
}

a:hover {
  /* Applies to links under the pointer */
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #3a3a3a;
}

a:visited {
  /* Applies to all visited links */
  text-decoration: none;
  font-weight: bold;
}

a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
}

a:active  {
  /* Applies to activated links */
  text-decoration: underline;
  font-weight: bold;
}

#about {
  color: #3a3a3a;
  background-color: #9d9d9d;
}

#about p {
  display: block;
  max-width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.col-lg-6 img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


p .btn:hover {
  background-color: #fff;
  color: #887788;

}

#contact {
  border-radius: 5px;
  text-align: center;
}

.btn {
  background-color: #887788;
  color: #fff;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #9d9d9d;
  color: #fff;
  margin-bottom: 10px;
}

.col-md-4 a:hover {
  color: #fff;
}

.btn-default {
  border-color: #887788;
}

.footer {
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
